<% layout("layouts/boilerplate") %>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title"/>
        <br/><br/>
        <textarea name="listing[description]" placeholder="Description"></textarea>
        <br/><br/>
        <input type="image" name="listing[image]" placeholder="Enter your URL"/>
        <br/><br/>
        <input type="number" name="listing[price]" placeholder="Enter Your Price"/>
        <br/><br/>
        <input type="text" name="listing[location]" placeholder="Enter Your Location"/>
        <br/><br/>
        <input type="text" name="listing[country]" placeholder="Enter Your Country"/>
        <br/><br/>
        <button type="submit">Create Listing</button>
    </form>
</body>
