/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-airbnb{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    width: 100%;
    height: 8rem; 
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: space-evenly;
}

